
body {
  font-family: 'Baloo Bhai', cursive;
}

h1 {
	padding-top: 100px;
	text-align: center;
}

.searchYoutube {
	margin: 0 auto;
	text-align: center;
}

/*#searchResults {
	border: solid 1px gray;
}
*/
#resultsButton {
  margin: 20px 0;
}